/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_bootl {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&bootloader>;
        };

        combo_reset {
            timeout-ms = <50>;
            key-positions = <10 11 12>;
            bindings = <&sys_reset>;
        };
    };

    behaviors {
        rot_td: rot_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
                &kp GRAVE  &kp Q      &kp W      &kp E     &kp R     &kp T               &kp Y      &kp U      &kp I      &kp O     &kp P     &kp LBKT
                &kp TAB    &kp A      &kp S      &kp D     &kp F     &kp G               &kp H      &kp J      &kp K      &kp L     &kp SEMI  &kp APOS
                &kp RBKT   &kp Z      &kp X      &kp C     &kp V     &kp B      &rot_td  &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp MINUS
                &kp BSLH   &kp PSCRN  &kp LCTRL  &kp LGUI  &kp LALT  &kp ENTER  &kp ESC  &kp SPACE  &kp LSHFT  &kp RCTRL  &kp BSPC  &kp DEL   &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
