# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORAL_LEFT
    def_bool $(shields_list_contains,coral_left)

config SHIELD_CORAL_RIGHT
    def_bool $(shields_list_contains,coral_right)