if SHIELD_CORAL_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "coral.central"

endif

if SHIELD_CORAL_RIGHT

config ZMK_KEYBOARD_NAME
    default "coral.right"

endif

if SHIELD_CORAL_LEFT || SHIELD_CORAL_RIGHT

config ZMK_SPLIT_WIRED
    default y

config ZMK_SPLIT
    default y

config ZMK_USB_LOGGING
    default n

config EC11
    default y
    
choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
    depends on EC11
endchoice

endif
