#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
                &kp TAB   &kp Q &kp W  &kp E    &kp R   &kp T         &kp Y   &kp U &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S  &kp D    &kp F   &kp G         &kp H   &kp J &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X  &kp C    &kp V   &kp B         &kp N   &kp M &kp COMMA &kp DOT &kp FSLH &kp ESC
                               &studio_unlock &kp ESC &kp SPACE     &kp RET &kp LALT &kp DEL
            >;
        };
        
        nav_layer {
            display-name = "nav";
            status = "reserved";
        };

        fn_layer {
            display-name = "fn";
            status = "reserved";
        };

        num_layer {
            display-name = "num";
            status = "reserved";
        };
        
        sys_layer {
            display-name = "sys";
            status = "reserved";
        };
    };
};