if SHIELD_ACORN_CENTRAL_DONGLE || SHIELD_ACORN_CENTRAL_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ACORN_CENTRAL_DONGLE

config ZMK_KEYBOARD_NAME
    default "acorn.dongle"

endif

if SHIELD_ACORN_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "acorn.central"

endif

if SHIELD_ACORN_PERIPHERAL_LEFT

config ZMK_KEYBOARD_NAME
    default "acorn.left"

endif

if SHIELD_ACORN_PERIPHERAL_RIGHT

config ZMK_KEYBOARD_NAME
    default "acorn.right"

endif

if SHIELD_ACORN_CENTRAL_DONGLE || SHIELD_ACORN_CENTRAL_LEFT || SHIELD_ACORN_PERIPHERAL_LEFT || SHIELD_ACORN_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y
    
config EC11
    default y

choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
    depends on EC11
endchoice

config ZMK_SLEEP
    default y

endif
