if SHIELD_HANA_LEFT

config ZMK_KEYBOARD_NAME
    default "hana"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HANA_RIGHT

config ZMK_KEYBOARD_NAME
    default "hana.right"

endif

if SHIELD_HANA_LEFT || SHIELD_HANA_RIGHT

config ZMK_SPLIT
    default y

endif